# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.suo
*.db
*.opendb
*.ipch
Debug/
bin/
obj/
Release/
*.zip
*.html
*.txt
docs/
~$C++ Course Games Academy 2015-05-19 Day 1.pptx
*.db-shm
*.user
*.user
*.htm
*.user
FPS/FPS/FPS.vcxproj.user
