# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.suo
*.db
*.opendb
*.ipch
bin/
obj/
Release/
Library/
Temp/
ProjectSettings/
*.zip
*.html
*.txt
docs/
~$C++ Course Games Academy 2015-05-19 Day 1.pptx
*.user
*.filters
Fps/.vs/Fps/v15/Solution.VC.db-shm
*.db-wal
*.db-shm
Fps/UpgradeLog.htm
ShaderExperiments/Assets/screwheads.jpg
ShaderExperiments/Assets/screwheads.jpg.meta
